#container{
	width: 500px;
	margin: auto;
}
img {
  border: 2px solid red;
  border-radius: 20px;
  padding: 4px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}
img:hover{
	opacity: 0.5;
}
	
}
#sol{
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: 15px;
	position: fixed;
}
#sağ{
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	
}
#orta{
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#alt{
	margin-bottom: 15px;
    padding-left: 700px;
    padding-top: 350px;
    


}
p {
	text-align: center;
	font-size: 6em;
	margin: 20px 20px 20px 0;
}
a {
	text-decoration: none;
  transition: all 0.5s;
}
p:nth-child(1) a {
  color: red;
  font-family: monospace;
  animation: neon1 0.5s ease-in-out infinite alternate;
}

p a:hover {
  color: orange;
}
@keyframes neon1 {
  
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff7f73,
     0 0 20px #ff5b4c, 0 0 35px #ff3d2b, 0 0 40px #ff3d2b, 0 0 50px #ff1500
}

@media (max-width: 650px) {
  #container {
    width: 100%;
  }
  p {
    font-size: 3.5em;
  }
}