@charset "utf-8";

ul {list-style-type: none;   
  overflow: hidden; 
  
  padding-left: 200px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: black;
}

li a:hover:not(.active) {
    background-color: #111;
}/* Float ile verdiğimiz değerlerin alanları boş kaldığından diğer divler o bölgeye yerleşiyor. Bunu engellemek için clear:both komutunu kullanıyoruz. */
.duzelt {clear:both;}
/* Site içeriğini ortalıyor ve genel boyutu belirtiyoruz. */    
#ortala {  margin: 0 auto;width:800px;}
/* Üst kısmın sabitlenmesi ve diğer ayarlayını yapıyoruz. */
#header {height: 100px;color: #FFF;
}
/* Sol içeriği sola dayıyoruz. */
#left {margin-top: 10px;width: 805px;float: left;}
#left2 {margin-top: 10px;width: 600px;float: left;}
#orta{width: 805px;height: 800px;}
/* Sağ içeriğide sağa dayıyoruz. */
#right {margin-top:10px;margin-right:3px;float: right;/*! margin-:1px; */width: 196px;height: 400px}


#slider {
    width:800px;
    height:450px;
    } 

.icerik {
  float: left;
  margin-top: 10px;
  margin-right:1px;
  height: 75px;
  width: 200px;
  color: #FFF;
}
.icerik2{
  float: left;
  height: 325px;
  width: 362px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 30px;
}
.konu {
  margin-top: 10px;
  width: 610px;
  height: 150px;
 
  color: #FFF;
}
.widgets {
  margin-bottom: 10px;
 
  height: 400px;
  width: 196px;
  color: #FFF;
}
#katagori{
  width: 500px;
  height: 250px;
  margin-top: 30px;
  background-color: blue;
}


/* Son olarak alt kısmı sabitliyor ve boyutlandırıyoruz. */
.footer {
  margin-top: 100px;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #EEC900
  height: 100px;
  width: 1875px;
  color: green;
  
}
input.gonder{
    color: #224059;
    background-color: #b5c9e2;
    border-top: 2px #cce3ff solid;
    border-left: 2px #cce3ff solid;
    border-bottom: 2px #31557f solid;
    border-right: 2px #31557f solid;
    font:bold 12px Arial, Helvetica, sans-serif;
}
#fotograf {
    width: 368px;
    height: 418px;
    border-bottom: 1px solid #d2d2d2;
    float: left;
    margin: 0 0 35px 19px;
    position: relative;
    overflow: hidden;
}
.resim {
    width: 100%;
    height: 294px;
    float: left;
}
.bg {
    background-position: center center !important;
    background-attachment: scroll !important;
    background-size: cover !important;
}
.slider5{
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
}
.row{
  height: 800px;
  width: 600px;
  margin-top: 100px;
  margin-left: 552px;
}
.col1{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.about{
  margin-right: 25px;
}
h2.ex{
  color: pink;
}
.rowsag{
  height: 800px;
  width: 200px
}
.haberrow{
  margin-top:80px;
  margin-left: 550px;
  height: 800px;
  width: 800px;
}
.habericerigi{
  margin-top: 25px;
  background-color: white;
  height: 200px;
  width: 800px;
  border-style: solid;
  border-color: rgb(205 133 63);
}
.habericerigi:hover{
  opacity: 0.5;
}
.haberresim{
  margin-top: 4px;
  margin-left: 4px;
  height: 196px;
  width: 750px;
  position: left;
}
.Katagorirow{
  height: 800px;
  width: 800px;
  margin-top: 80px;
  margin-right: 550px
  padding-left:500px;
}
.katagorisutun{
 margin-top: 25px;
 height: 380px;
  width: 380px;
  background-color: white;
  border-style: solid;
  border-color: rgb(205 133 63); 
}
.katagorisutun:hover{
  opacity: 0.7;
}
div.gallery{
  border:2px solid #ccc;
}
div.gallery:hover{
  border:7px solid #777;
}
div.gallery img{
  width: 100%;
  height: auto;

}
*{
  box-sizing: border-box;
}
.responsive{
  padding: 0 6px;
  float: left;
  width: 130%
}
@media only screen and (max-width: 700px){
  .responsive{
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.OyuniciGorsel2{
  height: 800px;
  width: 800px;
  margin-top: 80px;
  margin-left: 550px;
  padding-left:500px;
}
.btnpubg {
  background-color: #c2b834 ;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btnapex {
  background-color: #c7004c ;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btncsgo {
  background-color: #890728 ;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btnpubg:hover {
  background-color: RoyalBlue;
  opacity: 1;
}
.btnapex:hover {
  background-color:   #ff7f7f;
  opacity: 1;
}
.btncsgo:hover {
  background-color:   #5e4949;
  opacity: 1;
}

.Pubggeri {
  margin-top: 15px;
  margin-left: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #A88B1B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.Pubggeri:hover {
  background-color:   #5e4949;
  opacity: 1;
}

.Apexgeri {
  margin-top: 15px;
  margin-left: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #CC584D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.Apexgeri:hover {
  background-color:   #5e4949;
  opacity: 1;
}
.Csgogeri {
  margin-top: 15px;
  margin-left: 25px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #854442;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}
.Csgogeri:hover {
  background-color:   #5e4949;
  opacity: 1;
}